/* モーダルの基本スタイル */
#modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* モーダルコンテンツのスタイル */
#modal-content {
    background-color: #fefefe;
    margin: 3% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 80%;
}

/* 閉じるボタンのスタイル */
#closeModal {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* モーダルの表示状態 */
.show {
    display: block;
}

/* モーダルの非表示状態 */
.hidden {
    display: none;
}

/* タブのスタイル */
.tab-container {
    display: flex;
    justify-content: center; 
    border-bottom: 1px solid #0b0b0b;
    cursor: pointer;
    
}

.tab {
    padding: 10px 20px;
    border: 1px solid #0b0b0b;
    border-bottom: none;
    background-color: #f1f1f1;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #e1e1e1;
}

.tab.active {
    background-color: #fff;
    border-top: 2px solid #007BFF;
    border-left: 2px solid #007BFF;
    border-right: 2px solid #007BFF;
    border-bottom: 2px solid #fff;
}

/* タブコンテンツのスタイル */
.tab-content {
    display: none;
    padding: 20px;
    border-top: none;
}

.tab-content.active {
    display: block;
}
#modal-tab1{
    border: 1px solid #0b0b0b;
}
.money{
    text-align: center;
}
.money h2{
    font-size: 20px;
    margin-top: 7px;
    margin-bottom: 5px;
}
